#addSaleStatusContainer {
    width: 100%;
    padding: 20px 5%;
    background: white;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}

.uploadedLabel {
    padding: 50px 50px 50px 0px;
    width: 300px;
}

.uploadedLabel img {
    width: 100px;
}
